<!-- app/templates/admin/finprojs/finprojs.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Student Projects{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Student Projects</h1>
        {% if finprojs %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> Details </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for finproj in finprojs %}
                <tr>
                  <td> {{ finproj.name }} </td>
                  <td> {{ finproj.details }} </td>
                  <td>
                    <a href="{{ url_for('admin.delete_finproj', id=finproj.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No student project have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
