<!-- app/templates/admin/stocks/stock.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_stock %}
        Add an item on the stock
    {% else %}
        Edit an item in the stock
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_stock %}
                <h1>Add an item on to the stock</h1>
            {% else %}
                <h1>Edit an item in stock</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
